{erl_opts, [
    debug_info,
    warnings_as_errors
    % {parse_transform, lager_transform}
]}.

{deps, [
    {gproc, "0.8.0"},
    {recordset, "0.1.0"}
]}.

{shell, [
    {apps, [game_rank]}
]}.

%% for test
{cover_enabled, true}.
{cover_print_enabled, true}.
{ct_opts, [
    {dir, ["test"]},
    {sys_config, ["test/ct_sys.config"]},
    {label, game_rank},
    {readable, true},
%%    {suite, [game_rank_SUITE]}, %% 只测试指定suite
%%    {testcase, [load_mnesia]}, %% 只测试指定testcase
    {ct_hooks, [{game_rank_ct_hook, []}]}
]}.

{profiles, [
    % test
    {test, [
        {erl_opts, [export_all]}
    ]}
]}.
